{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="facebook-domain-verification" content="yxxdgnep50f18e5h1y9n4kjvm1izon" />
    <meta name="description" content="NeuroPink gel brzo ublažava bol u mišićima, zglobovima i tetivama. Sadrži anestezin i mentol za trenutno olakšanje sportskih povreda, upala i napetosti. Sigurna primena, jednostavno nanošenje i brzi rezultati.">
    <meta property="og:url" content="https://neuropink.rs/">
    <meta property="og:image" content="{% static 'img\android-chrome-512x512.png' %}">
    <meta property="og:image:alt" content="NeuroPink - Gel protiv bolova u mišićima, zglobovima i upaljene tetive">
    <meta property="og:title" content="NeuroPink">
    <meta property="og:description" content="NeuroPink gel pruža brzo i efikasno ublažavanje bola kod sportskih povreda, istegnuća, upala tetiva, neuralgija i napetosti mišića.">
    <meta property="og:type" content="website">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img\android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img\android-chrome-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img\android-chrome-16x16.png' %}">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.min.css"
    rel="stylesheet"
    />
    <link rel="icon" href="{% static 'img/favicon.ico' %}?v=2">
    {% block link %}{% endblock link %}
    <style>
        :root {
        --pink-light: #ffe4f0;
        --pink-medium: #ffb3d9;
        --pink-dark: #ff80bf;
        --pink-accent: #ff4d94;
    }
    </style>
    {% block style %}{% endblock style %}
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1238578208233223');
fbq('track', 'PageView');{% block fb_purchase %}{% endblock fb_purchase %}{% block fb_order %}{% endblock fb_order %}
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1238578208233223&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code --> 
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WZF06592XN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WZF06592XN');
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/69527ad9a0db5d19827a3e3d/1jdl2voud';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<body class="d-flex flex-column min-vh-100">
    <main class="flex-fill">
    {% block order %}{% endblock order%}
    {% block index %}{% endblock index %}
    {% block order_success %}{% endblock order_success %}
    {% block testimonial_success %}{% endblock testimonial_success %}
    
    {% include "footer.html" %}
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.umd.min.js"
    ></script>
    {% block script %}{% endblock script %}
    </main>
</body>
</html>