
{% block footer %}
<footer class="text-center py-4" style="background: var(--pink-light);">
    <div class="container">
        <p class="mb-0">&copy; 2023-2025 NeuroPink</p> <a href="https://www.instagram.com/neuropink_gel_protiv_bolova/#" target="_blank"><i class="fa-brands fa-instagram fa-lg p-1" style="color: var(--pink-accent);"></i></a> <a href="https://www.facebook.com/people/Neuro-Pink-Gel/61584520246868/" target="_blank"><i class="fa-brands fa-facebook fa-lg p-1" style="color: var(--pink-accent);"></i></a>
        <p class="text-muted small">Pre primene pročitajte uputstvo.</p>
    </div>
</footer>
{% endblock footer %}